{% import 'macros.html' as macro%} {% extends 'base.html' %}

<!-- Content block -->
{% block content %}

<title>{{ title }}</title>

<h1 style="text-align: center;"><strong>WELCOME TO NEWS ALERT</strong></h1>

<div class="row" style="padding-left: 50px;">
  <div class="col-md-4">
    <h2><strong>TECHNOLOGY NEWS</strong></h2>
                {{ macro.displayUpdateList(technology) }}
  </div>
  <div class="col-md-4">
    <h2><strong>BUSINESS NEWS</strong></h2>
                {{ macro.displayUpdateList(business) }}
  </div>


  <div class="col-md-4">
    <h2><strong>ENTERTAINMENT NEWS</strong></h2>
                {{ macro.displayUpdateList(entertainment) }}
  </div>

</div>
{% endblock %}
